<div class="card">
  <div class="card-header">
    <a href={{link}} target="_blank">{{title}}</a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <p>{{summary}}</p>
      </div>
      <div class="col-lg-4">
        {{#if saved}}
        <button class="btn btn-secondary article-notes" id="article-notes" data-id={{_id}}>Article Notes</button>
        <button class="btn btn-secondary unsavearticle" id="unsave-article" data-id={{_id}}>Delete</button>
        {{else}}
        <button class="btn btn-secondary savearticle" id="save-article" data-id={{_id}}>Save</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>