<!---Home page-->

<div class="container-fluid article-container">
{{#each articles}} {{> article-block}} {{/each}}

</div>

{{!-- 
  {{#if articles}}
  {{#each articles}} 
  <div class="card">
    <div class="card-header text-center" id="card-header">
      <h3>{{title}}</h3>
    </div>
    <div class="card-body text-center" id="card-body">
      <h4>
        <a href="{{link}}" class="scrape-new">{{link}}</a>
      </h4>
        <p>
          {{summary}}
          </p>

      <h4>
        <button id="savearticle" data-id="{{_id}}" href="/saved">Save Article</b>
      </h4>
    </div>
  </div>
  {{/each}}

{{else}}
<div class="container-fluid article-container">

  <div class='alert alert-warning text-center' id="alert">
    <h4>Uh Oh. Looks like we don't have any new articles.</h4>
  </div>
  {{/if}} 
  </div>
</div> --}}

<footer class="footer">
  <div class="container">
    <p>Medium Mongo Scraper</p>
  </div>
</footer>

