<!--Saved Articles Page-->
<div class="container-fluid saved-container">
  {{!-- {{#if articles}}
  {{#each articles}}  --}}
{{#each articles}} {{> article-block}} {{/each}}

  <div class="card">
    <div class="card-header text-center" id="card-header">
      {{!-- article title  --}}
      <h3>{{this.title}}</h3>
    </div>
    <div class="card-body text-center" id="card-body">
      <h4>
        {{!-- // article link  --}}
        <a href="https://medium.com/" + "{{this.link}}">{{this.link}}</a>
      </h4>
      <p>{{this.summary}}</p>
      <br>
      <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Delete</button>

    </div>
  </div>
  {{!-- {{/each}}
  {{else}} --}}
  <div class="container-fluid article-container">

    <div class='alert alert-warning text-center' id="alert">
      <h4>You have no saved articles.</h4>
    </div>
  </div>
  {{!-- {{/if}} --}}
</div>
</div>

