<!--Saved Articles Page-->
<div class="container-fluid saved-container">
  {{!-- {{#if articles}}
  {{#each articles}}  --}}
  
{{#each articles}} {{> article-block}} {{/each}}

{{!-- modal for deleting article --}}
<div class="modal" id="delete-success" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title"><strong>Deleted!</strong></h3>
      {{!-- stands for X --}}
      <button type="button" class="articles-notes-btn" id="articles-notes" data-dismiss="modal">&times;</button>
      <button type="button" class="delete-success-btn" id="delete-success" data-dismiss="modal">&times;</button>
    </div>
  </div>
</div>


  {{!-- <div class="card">
    <div class="card-header text-center" id="card-header">
      {{!-- article title  --}}
      <h3>{{this.title}}</h3>
    </div>
    <div class="card-body text-center" id="card-body">
      <h4>
        {{!-- // article link  --}}
        <a href="https://medium.com/" + "{{this.link}}">{{this.link}}</a>
      </h4>
      <p>{{this.summary}}</p>
      <br>
      <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Delete</button>

    </div> --}}
  </div>
  {{!-- {{/each}}
  {{else}} --}}
  <div class="container-fluid article-container">

    <div class='alert alert-warning text-center' id="alert">
      <h4>You have no saved articles.</h4>
    </div>
  </div>
  {{!-- {{/if}} --}}
</div>
</div>

